*{background-image: url(paper.jpg);}
h1 { display: flex;
    justify-content: center;
    font-size: 500%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.subheadings
    {display: flex;
    justify-content: space-between;
    padding: 10%;
    font-size: 300%;}

.cards {display: flex;
    justify-content: space-evenly;}